<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .lead {
                padding-top: 10px;
                padding-left: 6px;
                padding-right: 6px;
                padding-bottom: 10px; 
                margin-top: 10px;
                background-color: gray;
                width: 100%;
            }        
                
        </style>
        
    </head>
    <body>

        <a href="{% url 'leads:lead-list' %}">Go back to leads<a/>
        <hr/>
        <h1>Are you sure you want to delete this lead?</h1>
        <form method="post">
            {% csrf_token %} 
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>

    </body>
</html>